@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-[#121212] text-white;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
